includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: max
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    checkBenevolentUnionTypes: true
    reportAlwaysTrueInLastCondition: true
    reportWrongPhpDocTypeInVarTag: true
    checkMissingOverrideMethodAttribute: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkMissingCallableSignature: true
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    ignoreErrors:
        - '#(.*)should return Illuminate\Http\RedirectResponse but returns Illuminate\Http\RedirectResponse|Illuminate\Routing\Redirector#'
        - '#Access to an undefined property App\Models(.*)::$.*#'
        - '#Call to an undefined method App\Models(.*)::.*#'
        - '#Call to an undefined static method App\Models(.*)::.*#'
        - '#Call to an undefined method Illuminate\(.*)::.*#'
        - '#Call to an undefined static method Illuminate\(.*)::.*#'
        - '#^(.*)Call to static method get() on an unknown class Illuminate\Support\Facades\Route(.*)$#'
        - '#^Call to static method get() on an unknown class Illuminate\\Support\\Facades\\Route\.#'
